@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
* { -webkit-user-select: none; user-select: none; }
input, select { -webkit-user-select: text; user-select: text; }